<p-button
  *ngIf="registered"
  [severity]="SeverityButtonActionEnum.CREATE"
  label="Continuar a la siguiente sección"
  [icon]="PrimeIcons.ARROW_RIGHT"
  iconPos="right"
  (click)="nextOut.emit()"></p-button>

<div *ngIf="!isNew && (enrollmentState?.state?.code != CatalogueEnrollmentStateEnum.REGISTERED &&
            enrollmentState?.state?.code != CatalogueEnrollmentStateEnum.REJECTED)"
     class="p-fluid">
  <p-divider></p-divider>
  <div class="grid formgrid">
    <img class="xl:col-10 col-offset-1" src="/assets/images/components/enrollments/final-screen.png" alt="">
  </div>
</div>

<p-panel *ngIf="isNew || enrollmentState?.state?.code === CatalogueEnrollmentStateEnum.REGISTERED ||
            enrollmentState?.state?.code === CatalogueEnrollmentStateEnum.REJECTED" class="p-fluid">
  <p-accordion [activeIndex]="activeIndex" (activeIndexChange)="changeActiveIndex($event)">
    <p-accordionTab [disabled]="activeIndex!==0 && activeIndex!=null">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">A.- Datos Personales</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <app-personal-information
          *ngIf="(student && enrollment) || (student && isNew)"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()">
        </app-personal-information>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==1">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">D.- Lugar de Procedencia</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-origin-place
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()">
        </app-origin-place>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==2">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">E.- Lugar de Residencia</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-residence-place
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="nextOut.emit(1)"
          (previous)="previous()"
        ></app-residence-place>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</p-panel>
