<app-skeleton
  *ngIf="coreService.isLoading"
  [type]="SkeletonEnum.CARD"
></app-skeleton>

<p-toolbar *ngIf="!coreService.isLoading">
  <div class="p-toolbar-group-left">
    <app-header-form [id]="id"></app-header-form>
  </div>
  <div class="p-toolbar-group-right">
    <p-button
      (click)="back()"
      [icon]="IconButtonActionEnum.CANCEL"
      [label]="LabelButtonActionEnum.CANCEL"
      [loading]="coreService.isLoading"
      [severity]="SeverityButtonActionEnum.CANCEL"></p-button>

    <p-divider layout="vertical"></p-divider>

    <p-button
      [disabled]="form.disabled"
      (click)="onSubmit()"
      [icon]="IconButtonActionEnum.SAVE"
      [label]="LabelButtonActionEnum.SAVE"
      [loading]="coreService.isLoading"
      [severity]="SeverityButtonActionEnum.SAVE"></p-button>
  </div>
</p-toolbar>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="subject" label="Asignatura:" [required]="subjectField"></label>
        <p-dropdown id="subject"
                    dataKey="id"
                    formControlName="subject"
                    [options]="subjects"
                    [filter]="true"
                    filterBy="code,name"
                    optionLabel="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="subjectField.value">
              {{ subjectField.value.code }} - {{ subjectField.value.name }}
              ({{ subjectField.value.academicPeriod.name }})
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.code }} - {{ item.name }}  ({{ item.academicPeriod.name }})
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="subjectField.errors"
          [touched]="subjectField.touched"
          [dirty]="subjectField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="type"
          label="Tipo de matrícula:"
          [required]="typeField"
        >
        </label>
        <p-dropdown
          id="type"
          formControlName="type"
          dataKey="id"
          [options]="types"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeField.errors"
          [touched]="typeField.touched"
          [dirty]="typeField.dirty"
        >
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="workday"
          label="Horario:"
          [required]="workdayField"
        >
        </label>
        <p-dropdown
          id="workday"
          formControlName="workday"
          dataKey="id"
          [options]="workdays"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="workdayField.errors"
          [touched]="workdayField.touched"
          [dirty]="workdayField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="parallel"
          label="Paralelo:"
          [required]="parallelField"
        >
        </label>
        <p-dropdown
          id="parallel"
          formControlName="parallel"
          dataKey="id"
          [options]="parallels"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="parallelField.errors"
          [touched]="parallelField.touched"
          [dirty]="parallelField.dirty"
        >
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="number"
          label="Numero de matrícula:"
          [required]="numberField"
        >
        </label>
        <p-inputNumber
          id="number"
          formControlName="number"
          [min]="1"
          [max]="3"
          [showButtons]="true"
        >
        </p-inputNumber>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="date" label="Fecha de matrícula:" [required]="dateField"></label>
        <app-help-field (mouseenter)="opDateField.toggle($event)" (mouseleave)="opDateField.hide()"></app-help-field>
        <p-calendar
          id="date"
          formControlName="date"
          dateFormat="yy-mm-dd"
          [showIcon]="true"
        >
        </p-calendar>
        <small
          appErrorMessage
          [errors]="dateField.errors"
          [touched]="dateField.touched"
          [dirty]="dateField.dirty"
        >
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="finalGrade" label="Calificación Final:" [required]="finalGradeField"></label>

        <p-inputNumber
          id="finalGrade"
          formControlName="finalGrade"
          mode="decimal"
          [useGrouping]="false"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"/>

        <small
          appErrorMessage
          [errors]="finalGradeField.errors"
          [touched]="finalGradeField.touched"
          [dirty]="finalGradeField.dirty">
        </small>
      </div>

      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="finalAttendance" label="Asistencia:" [required]="finalAttendanceField"></label>

        <p-inputNumber
          id="finalAttendance"
          formControlName="finalAttendance"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [useGrouping]="false"/>

        <small
          appErrorMessage
          [errors]="finalAttendanceField.errors"
          [touched]="finalAttendanceField.touched"
          [dirty]="finalAttendanceField.dirty">
        </small>
      </div>

      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="academicState" label="Estado Académico:" [required]="academicStateField"></label>
        <p-dropdown id="academicState"
                    dataKey="id"
                    formControlName="academicState"
                    [options]="academicStates"
                    optionLabel="name"
                    placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="academicStateField.value">
              {{ academicStateField.value.name }}
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="academicStateField.errors"
          [touched]="academicStateField.touched"
          [dirty]="academicStateField.dirty">
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label appLabel for="observation" label="Observación de la matrícula:" [required]="observationField"></label>
        <app-help-field *ngIf="observationField.hasValidator(Validators.required)"
                        (mouseenter)="opObservationField.toggle($event)"
                        (mouseleave)="opObservationField.hide()"></app-help-field>
        <input pInputText id="observation" formControlName="observation"/>
      </div>
    </div>
  </form>
</p-panel>

<p-overlayPanel #opDateField>
  <ng-template pTemplate="content">
    <p>La fecha se genera automáticamente cuando se matricula</p>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #opObservationField>
  <ng-template pTemplate="content">
    <p>Indique el motivo por el cual está agregando una nueva asignatura</p>
  </ng-template>
</p-overlayPanel>
