<div class="p-fluid">
  <div class="field">
    <h1 class="text-center">Sistema de Gestión Académica - YEC</h1>
  </div>

  <div class="field">
    <h1 class="text-center">V {{ coreService.version }}</h1>
  </div>

  <div class="field">
    <div class="p-inputgroup">
      <p-button [icon]="PrimeIcons.ID_CARD" pTooltip="Autor"></p-button>
      <input pInputText value="Soporte Técnico" disabled/>
    </div>
  </div>
  <div class="field">
    <div class="p-inputgroup">
      <p-button
        severity="warning"
        [icon]="PrimeIcons.ENVELOPE"
        pTooltip="Coreo Electrónico"></p-button>
      <input pInputText value="soporte.academico@uaw.edu.ec" disabled/>
      <p-button
        severity="secondary"
        [icon]="PrimeIcons.COPY"
        (click)="copy('soporte.academico@uaw.edu.ec')"
        pTooltip="Copiar"></p-button>
    </div>
  </div>
  <div class="field">
    <div class="p-inputgroup">
      <p-button severity="info" [icon]="PrimeIcons.PHONE" pTooltip="Teléfono"></p-button>
      <input pInputText id="phone" value="022232000 / 022230500" disabled/>
      <p-button
        severity="secondary"
        [icon]="PrimeIcons.COPY"
        (click)="copy('022232000 / 022230500')"
        pTooltip="Copiar"></p-button>
    </div>
  </div>
</div>
